.movie-detail {
    margin: 0 15px 10px;
}

.detail-container {
    width: 100%;
}

.detail-container img {
    width: 100%;
}

.detail-left {
    border-radius: 5px;
    width: 30%;

}

.trailer {
    max-width: 1300px;
    margin: 0 auto;
}

.detail-right {
    width: 70%;
    padding-left: 40px;
}

.center-details {
    display: flex;
    padding: 50px 40px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 150px, rgba(0, 0, 0, 0.4) 100%)
}

.title-trailer {
    font-weight: 600;
    display: flex;
    font-size: 30px;
    color: #FB9902;
    padding: 10px 0;
}

.title-overview {
    font-weight: 600;
    display: flex;
    font-size: 30px;
    color: #FB9902;
    padding: 10px 0;
    max-width: 1300px;
    margin: 0 auto;
}

.overview-detail {
    font-size: 20px;
    /* padding: 10px 0; */
    text-align: justify;
    max-width: 1300px;
    margin: 0 auto;
}

.moviedetail-title {
    display: flex;
    font-weight: 600;
    font-size: 40px;
    background-color: #FB9902;
    color: white;
}

/* .moviedetail-title label {
    margin-left: 10px;
} */

.right {
    margin-left: 40px;
}

.poster-img img {
    border-radius: 5px;
    width: 100%;
}

.production-countries,
.runtime,
.genre,
.release-date {
    display: flex;
    padding: 5px 0;
    color: white;
}

.production-countries label,
.runtime label,
.release-date label,
.genre label {
    font-weight: 500;
    color: #FB9902;
}

.countries-name,
.genre-name {
    display: inline-block;
}

.countries-name a,
.genre-name a {
    color: white;
    text-decoration: none
}

.bottom-line {
    border-bottom: 1px solid #3a3a3a;
    padding: 0 0 10px;
    max-width: 1300px;
    margin: 0 auto;
    /* margin: 20px 0px 0px; */
}

.btn-watch {
    display: flex;
}

.btn-wacth-movie {
    margin-top: 10px;
    margin-right: 10px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
    background: #d9534f;
    border: 1px solid #d43f3a;
    color: #fff;
    padding: 10px 20px;
}

.btn-wacth-trailer {
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
    background: #428bca;
    border: 1px solid #428bca;
    color: #fff;
    padding: 10px 20px;
}

.btn-wacth-movie:hover {
    background: #d43f3a;
}

.btn-wacth-trailer:hover {
    background: #428bca;
}


@media only screen and (max-width: 1366px) {
    .moviedetail-title {
        font-size: 25px;
    }

    .production-countries,
    .runtime,
    .genre,
    .release-date {
        font-size: 11px;
    }

    .btn-wacth-movie,
    .btn-wacth-trailer {
        width: 70px;
        font-size: 13px;
    }
}


@media only screen and (max-width: 768px) {
    .trailer iframe {
        height: 300px !important;
    }

    .overview-detail {
        font-size: 15px;
    }

    .moviedetail-title {
        font-size: 15px;
    }

    .title-trailer,
    .title-overview {
        font-size: 25px;
    }

    .detail-right {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .trailer iframe {
        height: 200px !important;
    }

    .center-details {
        padding: 10px 15px;
    }

    .production-countries,
    .runtime,
    .genre,
    .release-date {
        font-size: 9px;
        padding: 1px 0;
    }

    .detail-right {
        padding-left: 10px;
    }

    .btn-wacth-movie,
    .btn-wacth-trailer {
        margin-top: 5px;
        width: 35px;
        font-size: 7px;
    }

    .btn-wacth-movie {
        margin-right: 5px;
    }

    .btn-wacth-trailer {
        margin-left: 5px;
    }

}