.movie-detail{
    display: flex;
    margin: 0 20px  ;
}
.title-overview{
    display: flex;
    font-size: 22px;
    color: orange;
}
.overview-detail{
    font-size: 20px;
    text-align: justify;
}
.moviedetail-title{
    display: flex;
    font-size: 40px;
}
.right{
    margin-left: 40px;
}
.poster-img {
    width: 300px;
    height: 450px;
    padding: 10px;
}
.poster-img img{
   width: 100%;
}