.card-item {
    margin: 20px 10px;
    border-radius: 4px;
}

.card-item:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.card-item a {
    text-decoration: none;
}

.card-content img {
    display: block;
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card-info {
    display: block;
    padding: 5px;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-size: 13px;
}

.card-info .movie-title {
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    color: orange;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-info .movie-release {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 1600px) {
    .card-content img {
        height: 20vw;
    }

    .card-item {
        margin: 10px;
    }

    .card-item:hover {
        transform: none;
        transition: none;
    }
}

@media only screen and (max-width: 1366px) {
    .card-content img {
        height: 15vw;
    }

}

@media only screen and (max-width: 1024px) {
    .card-content img {
        height: 20vw;
    }
    .card-item {
        margin: 10px;
    }

    .card-item:hover {
        transform: none;
        transition: none;
    }
}

@media only screen and (max-width: 768px) {
    .card-content img {
        height: 30vw;
    }
}

@media only screen and (max-width: 480px) {
    .card-content img {
        height: 40vw;
    }

}