.card-item {
    padding: 10px;
}

.card-item:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.card-item a {
    text-decoration: none
}

.card-content img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.card-info {
    display: block;
    padding: 5px;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-size: 13px;
}

.card-info .movie-title {
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    color: orange;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-info .movie-release {
   text-align: left;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}