.card-item {
    padding: 20px;
}

.card-item:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.card-item a {
    text-decoration: none
}

.card-content {
    display: grid;
}

.card-content img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit:cover;
}

.card-info {
    display: block;
    padding: 5px;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-info .movie-title {
    display: flex;
    text-transform: uppercase;
    color: orange;
}

.card-info .movie-release {
    display: flex;
}