a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  width: 100%;
  height: 60px;
  color: #757575;
  /* background-color: #222; */
  border-bottom: 1px solid #e8ebed;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logo {
  display: flex;
  padding-left: 20px;
}

.user {
  display: flex;
  margin-right: 25px;
}

.user_info {
  color: #757575;
}

.user_info:hover {
  color: black;
}
.user .language,
.user .notification {
  margin-right: 20px;
  cursor: pointer;
}
.user .user-profile {
  cursor: pointer;
}

.display-user {
  margin-right: 10px;
}

.menu-mobile {
  display: none;
}

.search {
  position: relative;
}
.input-search {
  width: 400px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  border-radius: 100px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.input-search input[type="text"] {
  font-size: medium;
  padding: 0 10px;
  border: none;
  outline: none;
  flex: 1;
}

.menu-bar {
  display: flex;
  align-items: center;
}

.menu-bar:hover {
  cursor: pointer;
}

.menu-children {
  margin-right: 20px;
}

.search-results {
  position: absolute;
  text-align: initial;
  width: 100%;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  z-index: 9999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search-item {
  margin: 10px;
  display: flex;
  align-items: center;
  color: black;
}
.search-label {
  margin: 10px;
  display: flex;
  align-items: center;
  color: black;
}

.search-item:hover {
  background-color: #e8ebed;
}

.search-item img {
  width: 50px;
}

.search-item .search-results-title {
  margin-left: 10px;
}

.menulist {
  display: none;
  position: absolute;
  text-align: initial;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  z-index: 9999;
}

.menu-children:hover {
  color: black;
}

.menulist {
  padding: 5px 15px;
  color: #757575;
}

.menulist ul li {
  margin: 10px 0;
}

.menulist ul li:hover {
  color: black;
}

.menu-children:hover > .menulist {
  display: block;
}

.list-year {
  width: 130px;
}

.list-year li {
  display: inline-block;
  width: 50%;
}

.menu-profile {
  position: absolute;
  background-color: white;
  padding: 15px 25px;
  z-index: 99999;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  text-align: initial;
  right: 25px;
}
.menu-profile ul {
  min-width: 180px;
}
.menu-profile ul li {
  padding: 10px 0;
}
.menu-profile ul li:hover {
  color: black;
}
.menu-profile hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin: 8px 0;
}

.menu-profile {
  animation: fade-in 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .menu-children {
    display: none;
  }

  .menu-mobile {
    display: flex;
    padding-left: 15px;
  }
  .display-user {
    display: none;
    margin-right: 5px;
  }
  .logout img {
    display: none;
    width: 20px;
  }
  .input-search {
    width: 250px;
    padding: 3px 20px;
  }
}

@media only screen and (max-width: 480px) {
  .user {
    font-size: 13px;
  }

  .logo a img {
    /* display: none; */
    width: 30px;
  }

  .user .notification {
    margin-right: 0;
  }

  .user .notification img {
    width: 20px;
  }

  .menu-children {
    display: none;
  }
  .input-search {
    width: 160px;
    padding: 3px 15px;
  }
  .input-search input[type="text"] {
    width: 100px;
  }
}
