a {
  text-decoration: none;
}

.header {
  display: flex;
  width: 100%;
  height: 60px;
  color: #757575;
  /* background-color: #222; */
  border-bottom: 1px solid #e8ebed;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logo {
  display: flex;
  padding-left: 20px;
}

.user {
  display: flex;
  padding-right: 20px;
}

.user_info {
  color: #757575;
}

.user_info:hover {
  color: black;
}

.user .notification {
  margin-right: 20px;
}

.display-user {
  margin-right: 10px;
}

.menu-mobile {
  display: none;
}

.search input[type="text"] {
  padding: 5px 10px;
  border-radius: 100px;
  width: 350px;
}

.menu-bar {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 125px;
}

.menu-bar:hover {
  cursor: pointer;
}

.menu-children {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .menu-children {
    display: none;
  }

  .menu-mobile {
    display: flex;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .user {
    font-size: 13px;
  }

  .logo a img {
    /* display: none; */
    width: 30px;
  }

  .logout img {
    display: none;
    width: 20px;
  }

  .display-user {
    display: none;
    margin-right: 5px;
  }

  .user .notification {
    margin-right: 0;
  }

  .user .notification img {
    width: 20px;
  }

  .search input[type="text"] {
    width: 170px;
    margin-left: -30px;
  }
}